@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    margin:0 auto !important;
    margin-top: 30px !important;
    display: block !important;
  }

  .Login > h1{
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.welcome{
  width: 200px;
  margin:0 auto !important;
  display: block !important;
}

.third-party-login{
  display: flex;
}

.facebook-button {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
