@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
      width: 400px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
      margin:0 auto !important;
      margin-top: 20px !important;
      display: block !important;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  }